# this contains all the required tools and libraries needed to run the project
numpy
opencv-python
mediapipe
protobuf>=4.25.3,<5
fastapi
uvicorn
pydantic
scikit-learn
pyttsx3
pywin32; platform_system == "Windows"
pytest
httpx
